@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px #222936;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px #222936;
  }
}
html {
  scroll-behavior: smooth;
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #222936 !important;
}

footer {
  /* position: fixed; */
  /* bottom: 0;
  left: 0;
  right: 0; */
  /* height: 60px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px; */
}

@media (min-width: 768px) {
  footer {
    /* position: relative; */
  }
}
